:root {
	--main-bg-color: #fff;
	--secondary-bg-color: #00b3ff;

	--icon-bar-color: #B6B6B6;
	--navbar-menu-item-color: #00c1ff;
	
	--main-text-color: #4B4B4B;
	--strong-text-color: #212529;
	
	--primary-grey: rgba(209, 209, 209,1);
	--secondary-grey: #ECF0F1;

	--primary-grey-opacity: rgba(209, 209, 209,0);
	
	--deep-grey: #a6a6a6;
	--dark-grey: #626262;
	
	--action-container-bg: #2B2B2B;
	--action-container-hover: #6D6D6D;
	
	--black-0: #000000;
	
	--version-selected: #00A8DF;
	
	--set-row-hover: inset 0 4px 0 0 rgba(84, 84, 84,.5);
	--set-table-hover: inset 0 -3px 0 0 rgba(84, 84, 84,.5);
	
	--offnav-bg-color:  #00b3ff;
	--offnav-primary-color: #4b4b4b;
	--offnav-secondary-color: #080808;
	
	--form-ctrl-bg: #fff;
	--form-ctrl-text: #4B4B4B;
	--form-ctrl-ph: #b0b0b0;

	--version-bg-color: #fff;
	--version-bg-color-hover: #fff;
	--secondary-border-color: #009cde;
}
